
* {
  box-sizing: border-box;
}
html,body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

body{
  background: #f6f6f6;
  
}

h1,h2,h3,h4,h5,h6,ul,li,a{
  margin: 0;
  padding: 0;
}

.Mui-selected span{
  color: #01605a !important;
}



.MuiTableContainer-root::-webkit-scrollbar,
.css-48t0g5::-webkit-scrollbar {
  width: 5px;
}


.MuiTableContainer-root::-webkit-scrollbar-track,
.css-48t0g5::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.MuiTableContainer-root::-webkit-scrollbar-thumb,
.css-48t0g5::-webkit-scrollbar-thumb
 {
  background: #ccc;
  border-radius: 20px;
}

.MuiFormLabel-root{
  background: #fff;
}

.btn:hover{
  background: #0e8a82;
}

.btn-error:hover{
  background: rgba(241, 159, 181, 0.12);
}

