
* {
  box-sizing: border-box;
}
html,body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  padding: 0;
}

body{
  background: #f6f6f6;
  
}

h1,h2,h3,h4,h5,h6,ul,li,a{
  margin: 0;
  padding: 0;
}

.Mui-selected span{
  color: #01605a !important;
}

